USE [master]
GO
/****** Object:  Database [group7]    Script Date: 16/03/2025 7:41:59 CH ******/
CREATE DATABASE [group7]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'group5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\group5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'group5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\group5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [group7].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [group7]
GO
/****** Object:  Table [dbo].[Favorites]    Script Date: 16/03/2025 7:41:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorites](
	[User_ID] [int] NOT NULL,
	[Product_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC,
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 16/03/2025 7:41:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Notification_ID] [int] IDENTITY(1,1) NOT NULL,
	[Order_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
	[Admin_ID] [int] NULL,
	[Message] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Created_At] [datetime] NULL,
	[FullName] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[OrderDetails] [nvarchar](max) NULL,
	[TotalPrice] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Notification_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Items]    Script Date: 16/03/2025 7:41:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Items](
	[Order_Item_ID] [int] IDENTITY(1,1) NOT NULL,
	[Order_ID] [int] NULL,
	[Product_ID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[Unit_Price] [decimal](10, 2) NOT NULL,
	[Size] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 16/03/2025 7:41:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NULL,
	[Order_Date] [datetime] NOT NULL,
	[Total_Price] [decimal](10, 2) NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 16/03/2025 7:41:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Product_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_Name] [nvarchar](255) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Size] [nvarchar](10) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](255) NULL,
	[Rate] [decimal](2, 1) NULL,
	[Type] [nchar](10) NULL,
	[Original_Price] [decimal](10, 2) NULL,
	[Discount_Percent] [decimal](5, 2) NULL,
	[Discount_Start_Date] [datetime] NULL,
	[Discount_End_Date] [datetime] NULL,
	[Trademark_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trademark]    Script Date: 16/03/2025 7:41:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trademark](
	[Trademark_ID] [int] IDENTITY(1,1) NOT NULL,
	[Trademark_Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Trademark_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/03/2025 7:41:59 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](max) NULL,
	[DOB] [date] NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Favorites] ([User_ID], [Product_ID]) VALUES (2, 8)
INSERT [dbo].[Favorites] ([User_ID], [Product_ID]) VALUES (2, 9)
INSERT [dbo].[Favorites] ([User_ID], [Product_ID]) VALUES (2, 10)
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Notification_ID], [Order_ID], [User_ID], [Admin_ID], [Message], [Status], [Created_At], [FullName], [PhoneNumber], [Address], [PaymentMethod], [OrderDetails], [TotalPrice]) VALUES (1, 40, 2, 1, N'Đơn hàng mới #40 từ người dùng tamnm', N'confirmed', CAST(N'2025-03-16T12:24:43.687' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Notifications] ([Notification_ID], [Order_ID], [User_ID], [Admin_ID], [Message], [Status], [Created_At], [FullName], [PhoneNumber], [Address], [PaymentMethod], [OrderDetails], [TotalPrice]) VALUES (2, 41, 2, 1, N'Đơn hàng mới #41 từ người dùng tamnm', N'confirmed', CAST(N'2025-03-16T13:02:41.793' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Notifications] ([Notification_ID], [Order_ID], [User_ID], [Admin_ID], [Message], [Status], [Created_At], [FullName], [PhoneNumber], [Address], [PaymentMethod], [OrderDetails], [TotalPrice]) VALUES (3, 42, 2, 1, N'Đơn hàng mới #42 từ người dùng tamnm', N'canceled', CAST(N'2025-03-16T13:10:12.110' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Items] ON 

INSERT [dbo].[Order_Items] ([Order_Item_ID], [Order_ID], [Product_ID], [Quantity], [Unit_Price], [Size]) VALUES (1, 1, 12, 1, CAST(110.00 AS Decimal(10, 2)), N'39')
INSERT [dbo].[Order_Items] ([Order_Item_ID], [Order_ID], [Product_ID], [Quantity], [Unit_Price], [Size]) VALUES (2, 2, 7, 1, CAST(77.00 AS Decimal(10, 2)), N'39')
INSERT [dbo].[Order_Items] ([Order_Item_ID], [Order_ID], [Product_ID], [Quantity], [Unit_Price], [Size]) VALUES (3, 3, 8, 1, CAST(108.00 AS Decimal(10, 2)), N'39')
SET IDENTITY_INSERT [dbo].[Order_Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Order_ID], [User_ID], [Order_Date], [Total_Price], [Status]) VALUES (1, 2, CAST(N'2025-02-16T20:41:49.363' AS DateTime), CAST(110.00 AS Decimal(10, 2)), N'pending')
INSERT [dbo].[Orders] ([Order_ID], [User_ID], [Order_Date], [Total_Price], [Status]) VALUES (2, 3, CAST(N'2025-02-21T11:26:09.820' AS DateTime), CAST(77.00 AS Decimal(10, 2)), N'pending')
INSERT [dbo].[Orders] ([Order_ID], [User_ID], [Order_Date], [Total_Price], [Status]) VALUES (3, 3, CAST(N'2025-02-21T11:26:53.000' AS DateTime), CAST(108.00 AS Decimal(10, 2)), N'pending')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Trademark] ON 

INSERT [dbo].[Trademark] ([Trademark_ID], [Trademark_Name]) VALUES (1, N'Adidas')
INSERT [dbo].[Trademark] ([Trademark_ID], [Trademark_Name]) VALUES (12, N'Bitis')
INSERT [dbo].[Trademark] ([Trademark_ID], [Trademark_Name]) VALUES (2, N'Joma')
SET IDENTITY_INSERT [dbo].[Trademark] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_ID], [User_Name], [Password], [Email], [Phone], [Address], [DOB], [Role]) VALUES (1, N'admin', N'21232f297a57a5a743894a0e4a801fc3', N'admin@example.com', N'0123456789', N'123 Admin Street', CAST(N'1990-01-01' AS Date), N'admin')
INSERT [dbo].[Users] ([User_ID], [User_Name], [Password], [Email], [Phone], [Address], [DOB], [Role]) VALUES (2, N'tamnm', N'f7feb14191fd7c3a03ca0b75f450ae26', N'tamnmce181522@fpt.edu.vn', N'0933561709', N'Cantho', CAST(N'2004-03-05' AS Date), N'customer')
INSERT [dbo].[Users] ([User_ID], [User_Name], [Password], [Email], [Phone], [Address], [DOB], [Role]) VALUES (3, N'thien', N'9dfee72b8839f5007e30b4d9a1ec386c', N'ngocthien281204@gmail.com', N'0981260124', N'Vn', CAST(N'2025-02-28' AS Date), N'customer')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Trademar__E3225FC9A7DFCABE]    Script Date: 16/03/2025 7:41:59 CH ******/
ALTER TABLE [dbo].[Trademark] ADD UNIQUE NONCLUSTERED 
(
	[Trademark_Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105340B6E4B15]    Script Date: 16/03/2025 7:41:59 CH ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [Order_Date]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [Discount_Percent]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('customer') FOR [Role]
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([Product_ID])
GO
ALTER TABLE [dbo].[Favorites]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([Admin_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Orders] ([Order_ID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Orders] ([Order_ID])
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([Product_ID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Trademark] FOREIGN KEY([Trademark_ID])
REFERENCES [dbo].[Trademark] ([Trademark_ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Trademark]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Status]='canceled' OR [Status]='completed' OR [Status]='pending'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='customer' OR [Role]='admin'))
GO
USE [master]
GO
