IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'group5')
BEGIN
    CREATE DATABASE [group5];
END;
GO

USE [group5];
GO
USE [group5]
GO
/****** Object:  Table [dbo].[Order_Items]    Script Date: 11/3/2024 5:14:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Items](
	[Order_Item_ID] [int] IDENTITY(1,1) NOT NULL,
	[Order_ID] [int] NULL,
	[Product_ID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[Unit_Price] [decimal](10, 2) NOT NULL,
	[Size] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/3/2024 5:14:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NULL,
	[Order_Date] [datetime] NOT NULL,
	[Total_Price] [decimal](10, 2) NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/3/2024 5:14:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Product_ID] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [nvarchar](255) NULL,
	[Product_Name] [nvarchar](255) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Size] [nvarchar](10) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [nvarchar](255) NULL,
	[Rate] [decimal](2, 1) NULL,
	[Type] [nchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/3/2024 5:14:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](max) NULL,
	[DOB] [date] NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Product_ID], [Brand], [Product_Name], [Price], [Quantity], [Size], [Description], [Image], [Rate], [Type]) VALUES (7, N'Adidas', N'ADIDAS TOP SALA COMPETITION', CAST(77.00 AS Decimal(10, 2)), 100, N'39, 40, 41', N'White/Red', N'https://product.hstatic.net/200000278317/product/hung-futsal-giay-da-bong-adidas-top-sala-competition-ig8763-trang-do-1_79e2081dc2eb463ebe41d4378ecef1c3_master.jpg', CAST(5.0 AS Decimal(2, 1)), N'TF        ')
INSERT [dbo].[Products] ([Product_ID], [Brand], [Product_Name], [Price], [Quantity], [Size], [Description], [Image], [Rate], [Type]) VALUES (8, N'Nike', N'NIKE PHANTOM GX 2 PRO TF', CAST(108.00 AS Decimal(10, 2)), 100, N'39, 40, 41', N'Green', N'https://product.hstatic.net/200000278317/product/utsal-giay-da-bong-nike-phantom-gx2-pro-tf-fj2583-003-xam-xanh-chuoi-1_d57ef02934a84e23936df310abec12e6_master.jpg', CAST(5.0 AS Decimal(2, 1)), N'TF        ')
INSERT [dbo].[Products] ([Product_ID], [Brand], [Product_Name], [Price], [Quantity], [Size], [Description], [Image], [Rate], [Type]) VALUES (9, N'Nike', N'NIKE PHANTOM GX 2 PRO TF', CAST(108.00 AS Decimal(10, 2)), 100, N'39, 40, 41', N'Green', N'https://product.hstatic.net/200000278317/product/utsal-giay-da-bong-nike-phantom-gx2-pro-tf-fj2583-003-xam-xanh-chuoi-1_d57ef02934a84e23936df310abec12e6_master.jpg', CAST(5.0 AS Decimal(2, 1)), N'TF        ')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([User_ID], [User_Name], [Password], [Email], [Phone], [Address], [DOB], [Role]) VALUES (1, N'admin', N'21232f297a57a5a743894a0e4a801fc3', N'admin@example.com', N'0123456789', N'123 Admin Street', CAST(N'1990-01-01' AS Date), N'admin')

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105342D02FDC8]    Script Date: 11/3/2024 5:14:05 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [Order_Date]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('customer') FOR [Role]
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Orders] ([Order_ID])
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Products] ([Product_ID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users] ([User_ID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Status]='canceled' OR [Status]='completed' OR [Status]='pending'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='customer' OR [Role]='admin'))
GO
